* { 
    margin: 0  ; 
    padding: 0 ; 
}

body { 
    font: 16px Comic Sans MS, Helvetica, Sans-Serif; 
    line-height: 24px;
}

.clear { 
    clear: both; 
}

#page-wrap { 
    width: 800px; 
    margin: 40px auto 60px; 
}

#pic { 
    float: right; 
    margin: -30px 0 0 0; 
}

h1 { 
    margin: 0 0 16px 0; 
    padding: 0 0 16px 0; 
    font-size: 42px; 
    font-weight: bold; 
    letter-spacing: -2px; 
    border-bottom: 1px solid #999; 
}

h2 {
    font-size: 20px; 
    margin: 0 0 6px 0; 
    position: relative; 
}

h2 span { 
    position: absolute; 
    bottom: 0; 
    right: 0; 
    font-style: italic; 
    font-family: Georgia, Serif; 
    font-size: 16px; 
    color: #999; 
    font-weight: normal; 
}

p { 
    margin: 0 0 16px 0; 
}

a { 
    color: #999;
    text-decoration: none; 
    border-bottom: 1px dotted #999; 
}

a:hover { 
    border-bottom-style: solid; 
    color: #1E8BC3; 
}

ul { 
    margin: 0 0 32px 17px; 
}

#objective { 
    width: 500px; 
    float: left; 
}

#objective p { 
    font-family: Comic Sans MS, Georgia, Serif; 
    font-style: italic; 
    color: #666; 
}

dt { 
    font-style: italic; 
    font-weight: bold; 
    font-size: 18px;
    color: #1E8BC3;
    text-align: right; 
    padding: 0 26px 0 0; 
    width: 150px; 
    float: left; 
    height: 100px; 
    border-right: 1px solid #999; 
}

dd { 
    Helvetica; 
    width: 600px; 
    float: right; 
}

dd.clear { 
    float: none; 
    margin: 0; 
    height: 15px; 
    position: relative;
}

.admin-photo img {
    width: 144px;
    height: 144px;
    padding: 20px 20px 0 0;
    margin: 25px 0 0 0;
    float: right;
    border-radius: 50%;
}

.BSc-date {
    font-family: Lucide Console;
    font-size: 16px;
    position: absolute;
    margin: 40px 45px; 
}

.MSc-date {
    font-family: Lucide Console;
    font-size: 16px;
    position: absolute;
    margin: 144px 45px;
}

.job-date {
    font-family: Lucide Console;
    font-size: 16px;
    position: absolute;
    margin: 30px 45px;
}

.lab_ii-date {
    font-family: Lucide Console;
    font-size: 16px;
    position: absolute;
    margin: 110px 45px;
}

.dig_lab-date {
    font-family: Lucide Console;
    font-size: 16px;
    position:absolute;
    margin: 220px 45px;
}

.lab_i-date {
    font-family: Lucide Console;
    font-size: 16px;
    position: absolute;
    margin: 330px 45px;
}

.fn {
    font-family: Times New Roman, Courier New;
    color: #1E8BC3;
}